__pycache__/
.pytest_cache/
.vscode/
envvar/
tests/__pycache__/

# ignore files in images folder
images/*
# but keep the folder
!images/.gitkeep
# ignore files in test_images folder
test_images/*
# but keep the folder
!test_images/.gitkeep
